#outer {
    background-color: white;
    border: 2px solid black;
    height: 200px;
    width: 70px;

}
.inner{
    height:50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50px;

}
#red{
    background-color: rgb(76, 15, 15);
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}