div{
    height: 100px;
    width: 200;
    /* border-width: 2px;
    border-style: dashed;
    border-color: blue; */
    border: 5px solid greenyellow;
    border-left-style : dashed;
    border-left-color: blue;
} 
h1{
    border-color: brown;
    border-width: 2px;
} 