div{
    height: 80px;
    width: 200;
    /* border-width: 2px;
    border-style: dashed;
    border-color: blue; */
    border: 5px solid rgb(27, 28, 137);
    border-left-style : dashed;
    border-left-color: rgb(207, 209, 95);

} 
h1{
    border-color: rgb(49, 5, 44);
    border-width: 8px;
} 
button{
    border-radius: 57px;
}