a{
    color: black;
    background-color: bisque;
    text-decoration: none;
}
h1{
    color: aqua;
    
}
p{
    color: rgb(3, 58, 40);
    height: fit-content;
}
*{
    background-color: antiquewhite;
}