a{
    color: rgba(0, 0, 0, 0.831);
    background-color: bisque;
    text-decoration: none;
}
h1{
    color: rgba(20, 205, 205, 0.838);
    
}
p{
    color: rgb(9, 57, 41);
    height: fit-content;
}
*{
    background-color: antiquewhite;
}