* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   font-weight: 600;
   font-style: normal;

}
.main_box{
    background: url(mini\ photo.jpg);
    height: 100vh;
}
.btn_one{
    font-size: 30px;
    color: white;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;


}
.sidebar_menu {
    position: fixed;
    left: -350px;
    height: 100vh;
    width:300px;
    background-color: rgba(255, 255, 255,0.1);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    
}
.sidebar_menu .logo {
             position: absolute;
             width: 100%;
             line-height: 60px;
             box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);

}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .menu {
    color: white;
    position: absolute;
    width: 100%;
    top:80px ;
}
.sidebar_menu .btn_two i {
    font-size: 25px;
    color: grey;
    position: absolute;
    line-height: 60px;
    left: 275px;
    opacity: 0;
    cursor: pointer;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.sidebar_menu .menu i{
    padding-right: 8px;

}
.sidebar_menu .social_media {
    position: absolute;
    left: 25%; 
    bottom: 50px;

}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;

}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);

}
.btn_one i :hover{
     font-size: 40px;

}
.btn_two i :hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
   transform:scale(1.1) ;
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
