#nav{
    background-color: pink;
    height: 50px;
    width: 900px;
    border: 2px solid rgb(23, 189, 201);
    border-radius: 10px;
    display: flex


}
.info{
    height: 50px;
    width: 80px;
    font-size: 24px;
}