#nav{
    background-color: rgb(225, 165, 175);
    height: 50px;
    width: 900px;
    border: 2px solid rgb(49, 171, 180);
    border-radius: 10px;
    display: flex


}
.info{
    height: 50px;
    width: 80px;
    font-size: 24px;
}