.card {
  width: 400px;
  border: 2px solid rgba(0, 0, 0, 0.715);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

img {
  width: 100%;
  border-radius: 25px;
}

h2 {
  color: #a33a0a;
}

span {
  color: #65460f;
}

h4 {
  text-align: right;
  color: #0c5f67;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}
