*{
    font-family: 'Courier New';
}
h1{
    color: #0b54ad;
}
#searchbtn{
    background-color: black;
    color: white;
}  
/* login and user button  */
.userbtn{
    background-color: aqua;
    color: black;
}