h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffa511;
    text-align: center;
    font-size:  50px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: double underline teal;
    text-transform: uppercase;

}